<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>androidCrashReport</servlet-name>
		<servlet-class>com.rafali.flickruploader.AndroidCrashReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>androidCrashReport</servlet-name>
		<url-pattern>/androidCrashReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>androidRpc</servlet-name>
		<servlet-class>com.rafali.flickruploader.AndroidRpc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>androidRpc</servlet-name>
		<url-pattern>/androidRpc</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoteApiServlet</servlet-name>
		<servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoteApiServlet</servlet-name>
		<url-pattern>/remote_api</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FlickrAuth</servlet-name>
		<servlet-class>com.rafali.flickruploader.FlickrAuth</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlickrAuth</servlet-name>
		<url-pattern>/flickr</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mailhandler</servlet-name>
		<servlet-class>com.rafali.flickruploader.MailHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mailhandler</servlet-name>
		<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>mail</web-resource-name>
			<url-pattern>/_ah/mail/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>